@model List<Microsoft.AspNetCore.Identity.IdentityUser>

@foreach (var item in Model)
{
    <tr>
        <td>
            <span class="badge badge-info">@item.UserName</span> 
        </td>
        <td>
            <a class="btn default btn-xs red remove" data-username="@item.UserName" title="Remove user"> <span class="glyphicon glyphicon-minus"></span></a>
        </td>
    </tr>
}