<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>

    <table class="table table-bordered table-hover table-striped table-responsive">
        <thead>
            <tr class="text-center">
                <td width="5%">STT</td>
                <td>Tên sản phẩm</td>
                <td>Đơn giá</td>
                <td>Số lượng</td>
                <td>Thành tiền</td>

            </tr>
        </thead>
        <tbody id="table-billDetail">
        </tbody>
    </table>

</body>
</html>